services:

  stats-db:
    image: postgres:16.1
    container_name: stats-db
    ports:
      - "5433:5432"
    environment:
      - POSTGRES_PASSWORD=100
      - POSTGRES_USER=admin
      - POSTGRES_DB=stats-db

  main-db:
    image: postgres:16.1
    container_name: main-db
    ports:
      - "5434:5432"
    environment:
      - POSTGRES_PASSWORD=100
      - POSTGRES_USER=admin
      - POSTGRES_DB=main-db

