server:
  port: 8080

spring:
  cloud:
    gateway:
      discovery.locator.enabled: true # для своей работы должен использовать Discovery Service.
      routes:
        - id: main_service_route
          uri: lb://main-service
          predicates:
            - Path=/categories/**,/compilations/**,/events/**,/users/**,/comments/**,/admin/**